<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/html">
<head>
    <title>Uchuu - Building</title>
    <th:block th:insert="~{fragments::meta}"></th:block>
</head>
<body>
    <a class="u-button" href="home">HOME</a>
    <div th:if="${error}">
        <span style="color:red" th:text="${error}"></span>
    </div>

    <div th:if="${buildings != null}" style="margin: 20px;">
        <div th:each="b:${buildings}" class="b-card">
            <img th:src="${b.building.img}" width="50px" height="50px" style="margin: 10px 0px;"/><br>
            <span th:text="${b.building.name}"></span>
            <span class="b-level" th:text="${b.level}"></span>
            <span class="b-started">
                <span th:if="${b.started==true}">On</span>
                <span th:if="${b.started==false}">Off</span>
            </span>
            <a th:href="@{${'bview?id='+b.building.id}}" class="b-link">&#x2934;</a>
        </div>
    </div>

</body>
</html>