<head th:fragment="meta">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="includes/css/default.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<section th:fragment="menu">
    <div class="u-menu">
        <a href="inventory">Inventaire</a>
        <a th:if="${session.user.level >= 5}" href="building">Construction</a>
        <a th:if="${session.user.admin == true}" href="admin">Admin</a>
        <a href="disconnect">Disconnect</a>
    </div>
</section>