<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <title>Uchuu - Home</title>
    <th:block th:insert="~{fragments::meta}"></th:block>
</head>
<body>
<div th:insert="~{fragments::menu}"></div>
    <h1>Uchuu</h1>
    <div th:if="${quests != null}">
        <h2>Quêtes:</h2>
        <a class="u-link" th:each="q:${quests}" th:href="@{${'quest?id=' + q.id}}" th:text="@{${'Niveau: ' + q.level + ' - ' + q.durationDisplay + ' - ' + q.name}}"></a>
    </div>
</body>
</html>