<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <title>Uchuu - Home</title>
    <th:block th:insert="~{fragments::meta}"></th:block>
</head>
<body>
<div th:insert="~{fragments::menu}"></div>
    <h1>Uchuu</h1>
    <div style="margin-left: 10px;">
        <table class="t-user">
            <tr>
                <td style="width:0.1%;white-space: nowrap;">
                    <span class="t-level" th:text="${user.level}"></span>
                </td>
                <td>
                <span class="t-cell">
                    <span class="t-name" th:text="${user.username}"></span>
                    <span class="progress tooltip">
                        <span th:style="@{${'width: '+percentXP+'%;display:block;height:100%'}}"></span>
                        <span class="tooltiptext" th:text="@{${currentXP + '/' +nextXP}}"></span>
                    </span>
                </span>
                </td>
            </tr>
        </table>
    </div>
    <br><br>
    <div th:if="${quests != null}">
        <h2>Quêtes:</h2>
        <a class="u-link" style="display: block;" th:each="q:${quests}" th:href="@{${'quest?id=' + q.id}}" th:text="@{${'Niveau: ' + q.level + ' - ' + q.durationDisplay + ' - ' + q.name}}"></a>
    </div>
</body>
</html>