<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Uchuu - Login</title>
</head>
<body>
    <h1>
        Login
    </h1>
<form method="post" action="login">
    Username:<br/>
    <input type="text" name="username" required/><br/>
    Password:<br>
    <input type="password" name="password" required/><br>
    <input type="submit" value="Login">
</form>
<span style="color:red;" th:text="${error}" th:if="${error != null}"></span>
<br>
<a href="register">Create account</a>
</body>
</html>